<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="img/favicon.ico" />
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="index.css">
		<title>Warbler</title>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;" ng-controller="wablerSearchController">
				<div class="navbar-header">
					<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button> -->
					<a class="navbar-brand hidden-sm hidden-xs text-warning text-capitalize" href="#">
						<span><img src="img/warbler-icon.png" height="24px;" />	Warbler</span>
					</a>
					
				</div>
				
				<div>
					<a href="#menu-toggle" class="pull-right" id="menu-toggle" style="padding: 0 20px; color: #FFF;">
						<h4><i class="fa fa-ellipsis-v"></i></h4>
					</a>
					<div warbler-search></div>
				</div>
				<!--/.nav-collapse -->
			</nav>
			<section ng-controller="gmapController">
				
				<div gmap id="gmap" tweets="tweets"></div>
				
				<div class="btn-group" style="position: absolute; top: 60px; left: 10px;">
					<button type="button" class="btn btn-default btnSettings dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-gear"></i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="javascript:void(0);">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="showMarkers"
										ng-value="showMarkers" ng-model="showMarkers" checked/>
										Show markers
									</label>
								</div>
							</a>
						</li>
					</ul>
				</div>
				
			</section>
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
			</div>
		</div>
		
		
	</body>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="lib/typeahead/typeahead.bundle.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.9/angular-resource.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="gmap/gmap.controller.js"></script>
	<script src="gmap/gmap.directive.js"></script>
	<script src="hashtagify/hashtagify.service.js"></script>
	<script src="search/warblerSearch.directive.js"></script>
	<script src="search/warblerSearch.controller.js"></script>
	<script src="twitter/twitter.service.js"></script>
	<script src="app.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIawGAPo5-aceyFyRehx8zMFoun4xq764&libraries=geometry,visualization&callback=init" async defer></script>
</html>